module Aoc<%= year %>
  module Day<%= day %>
    class Puzzle<%= day %> < ::Aoc::PuzzleBase
      def initialize
      end

      def solve
        raise 'Not defined'
      end

      def handle_input_line(line, *_args)
      end

      def unit_tests
      end
    end
  end
end
